<a href="https://colab.research.google.com/github/Hellavn/sao-paulo-chapter-passenger-demand/blob/main/visualiza%C3%A7%C3%A3o_de_dados_inicial_projeto_sao_paulo_subway.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn import preprocessing

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
#Setting up the file

original_dataset='/content/drive/My Drive/projeto_sãopaulo_subway/Entrada de Passageiros por Linha - 2022_7.csv'

#Extraction by station

df_azul = pd.read_csv(original_dataset,
                      encoding='latin_1',
                      sep=';',
                      thousands='.',
                      skiprows=5,
                      skipfooter=44,
                      usecols=[0,1,2,3,4,5],
                      engine='python')
df_azul['station'] = 'azul'
df_azul.rename(columns={'Mês':'month', 'Total':'total'}, inplace=True)


df_verde = pd.read_csv(original_dataset,
                       encoding='latin_1',
                       sep=';',
                       thousands='.',
                       skiprows=5,
                       skipfooter=44,
                       usecols=[7,8,9,10,11,12],
                       engine='python')
df_verde['station'] = 'verde'
df_verde.rename(columns={'Mês.1':'month', 'Total.1':'total', 'MDU.1':'MDU', 'MSA.1':'MSA', 'MDO.1':'MDO', 'MAX.1':'MAX'}, inplace=True)

df_prata = pd.read_csv(original_dataset,
                       encoding='latin_1',
                       sep=';',
                       thousands='.',
                       skiprows=24,
                       skipfooter=25,
                       usecols=[7,8,9,10,11,12],
                       engine='python')
df_prata['station'] = 'prata'
df_prata.rename(columns={'Mês.1':'month', 'Total.1':'total', 'MDU.1':'MDU', 'MSA.1':'MSA', 'MDO.1':'MDO', 'MAX.1':'MAX'}, inplace=True)

df_vermelha = pd.read_csv(original_dataset,
                       encoding='latin_1',
                       sep=';',
                       thousands='.',
                       skiprows=24,
                       skipfooter=25,
                       usecols=[0,1,2,3,4,5],
                       engine='python')
df_vermelha['station'] = 'vermelha'
df_vermelha.rename(columns={'Mês':'month', 'Total':'total'}, inplace=True)

df = pd.concat([df_vermelha,df_azul,df_prata,df_verde],ignore_index=True)

print(df)

#"MDU - Média dos Dias Úteis; MSA - Média dos Sábados; MDO - Média dos Domingos; MAX - Máxima Diária"

   month  total  MDU  MSA  MDO  MAX   station
0   Jan*  16226  639  411  235  696  vermelha
1   Fev*  17630  743  478  289  775  vermelha
2   Mar*  21835  840  513  287  895  vermelha
3   Abr*  20508  859  499  308  877  vermelha
4   Mai*  22453  847  542  324  877  vermelha
5   Jun*  20959  823  514  322  858  vermelha
6   Jul*  20746  795  511  303  833  vermelha
7   Ago*  22792  849  513  305  888  vermelha
8   Set*  21793  865  534  290  910  vermelha
9   Out*  22203  878  533  305  918  vermelha
10  Nov*  21421  889  560  320  928  vermelha
11  Dez*  21117  793  642  348  959  vermelha
12  Jan*  13688  542  351  190  585      azul
13  Fev*  14891  634  415  196  667      azul
14  Mar*  18216  706  436  198  734      azul
15  Abr*  17547  742  430  235  771      azul
16  Mai*  19350  738  473  242  765      azul
17  Jun*  17926  710  437  242  746      azul
18  Jul*  18175  690  459  265  752      azul
19  Ago*  19922  747  454  232  779      azul
20  Set*  19046  761  466  237  796      azul
21  Out*  19679  782  475  257  828      azul
22  Nov*  18677  782  484  263  816      azul
23  Dez*  18176  691  511  291  845      azul
24  Jan*   1142   46   28   14   50     prata
25  Fev*   1294   55   34   18   59     prata
26  Mar*   1587   62   36   18   64     prata
27  Abr*   1507   64   36   19   69     prata
28  Mai*   1674   64   39   20   66     prata
29  Jun*   1596   64   35   20   70     prata
30  Jul*   1517   62   26   16   64     prata
31  Ago*   1709   67   28   17   69     prata
32  Set*   1661   68   34   20   74     prata
33  Out*   1679   69   33   19   71     prata
34  Nov*   1654   71   34   22   74     prata
35  Dez*   1555   62   25   19   75     prata
36  Jan*   7484  302  169  100  331     verde
37  Fev*   8486  367  198  129  389     verde
38  Mar*  10739  424  215  130  444     verde
39  Abr*  10196  444  212  134  459     verde
40  Mai*  11447  447  228  135  468     verde
41  Jun*  10638  431  214  153  447     verde
42  Jul*  10490  413  222  146  430     verde
43  Ago*  12057  460  231  136  487     verde
44  Set*  11553  470  235  135  490     verde
45  Out*  11672  475  238  150  498     verde
46  Nov*  11039  477  237  144  501     verde
47  Dez*  10182  396  248  151  495     verde

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   month    48 non-null     object
 1   total    48 non-null     int64
 2   MDU      48 non-null     int64
 3   MSA      48 non-null     int64
 4   MDO      48 non-null     int64
 5   MAX      48 non-null     int64
 6   station  48 non-null     object
dtypes: int64(5), object(2)
memory usage: 2.8+ KB

In [ ]:
# converting to CSV file
#df.to_csv("saopaulo_subway_dadostratados.csv")
# Write the DataFrame to CSV file.
with open('/content/drive/My Drive/projeto_sãopaulo_subway/saopaulo_subway_dadostratados.csv', 'w') as f:
  df.to_csv(f)

In [ ]:
# Medidas estatísticas do DataFrame
df.describe()

              total         MDU         MSA         MDO         MAX
count     48.000000   48.000000   48.000000   48.000000   48.000000
mean   12698.625000  504.270833  305.750000  173.937500  536.291667
std     7676.199859  300.366141  197.935461  110.650765  318.612949
min     1142.000000   46.000000   25.000000   14.000000   50.000000
25%     6040.250000  244.250000  136.500000   80.500000  267.000000
50%    12872.500000  509.500000  299.500000  171.500000  543.000000
75%    19432.250000  766.250000  479.500000  270.500000  819.000000
max    22792.000000  889.000000  642.000000  348.000000  959.000000